Package: com.pc.dqsgpatch
Name: DQSG Patch
Description: DQSG jailbreak detection bypass
Maintainer: pc
Author: pc
Section: Tweaks
Depends: mobilesubstrate
Architecture: iphoneos-arm64
Version: 0.0.1-1+debug
Installed-Size: 80
